/*--Display--*/

$flex:flex;
$block:block;
$grid:grid;

/*--Position--*/

$rel:relative;
$abs:absolute;
$fixed:fixed;

/*--Font Sizes--*/

$fs14:14px;
$fs16:16px;
$fs18:18px;
$fs20:20px;
$fs25:25px;
$fs30:30px;

/*End Variables*/